<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>Colorful Bouncy Ball</title>
</head>
<body class="main">
<div class="container">
    <div th:insert="base :: main_navbar"></div>

        <div class="jumbotron">
            <h1 class="display-4">How to Make a Bouncy Ball!</h1>
            <hr>
            <p>Polymers are very large molecules, formed by repeated patterns of chemical units strung together. Although “polymer” might bring to mind rubber or slime, did you know that there are polymers all around us, including inside our bodies? The protein DNA, which is the “blueprint” for cellular reproduction, is a naturally-occurring polymer. The protein casein, in cow’s milk, is a polymer as well. Other natural polymers are cellulose and starch. Bone, horn, cotton, silk, rubber, paper, and leather all come from naturally-occurring polymers!</p>
            <p>There are manmade polymers, as well. Fabrics such as rayon and polyester, polystyrene (used in styrofoam coffee cups), and PVC (used in pipes) are common examples of these artificially-occurring polymers.</p>
            <p>Try this experiment to see how polymers can make a toy. (Adult supervision recommended.)</p>
            <a class="btn btn-primary btn-lg" href="/recipe" role="button">Learn more</a>
        </div>

</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>