<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>Other Projects</title>
</head>
<body class="other">
<div class="container">
    <div th:insert="base :: navbar"></div>
    <br>
    <br>
    <h3>You can use the following recipes to learn more about non-edible, naturally-occurring polymers</h3>
    <br>
    <ul>
        <li><a href="https://learning-center.homesciencetools.com/article/how-to-make-slime/">Simple Slime</a></li>
        <li><a href="https://learning-center.homesciencetools.com/article/how-to-make-slime/">Super Slime</a></li>
        <li><a href="https://learning-center.homesciencetools.com/article/how-to-make-slime/">Glooze</a></li>
        <li><a href="https://learning-center.homesciencetools.com/article/how-to-make-slime/">Oobleck or Quicksand</a></li>
    </ul>
    <br>
    <br>
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="2000">
                <img src="https://res.cloudinary.com/katgurl21/image/upload/v1569441276/SlimeApp/slime-banner-1_ww8lf0.jpg" class="d-block w-100" alt="slime_banner_1">
            </div>
            <div class="carousel-item" data-interval="2000">
                <img src="https://res.cloudinary.com/katgurl21/image/upload/v1569441280/SlimeApp/slime-banner-2_dxh9br.jpg" class="d-block w-100" alt="slime_banner_2">
            </div>
            <div class="carousel-item" data-interval="2000">
                <img src="https://res.cloudinary.com/katgurl21/image/upload/v1569441295/SlimeApp/slime-banner-3_gws5un.jpg" class="d-block w-100" alt="slime_banner_3">
            </div>
            <div class="carousel-item" data-interval="2000">
                <img src="https://res.cloudinary.com/katgurl21/image/upload/v1569441302/SlimeApp/slime-banner-4_akh6iy.jpg" class="d-block w-100" alt="slime_banner_4">
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>