<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>Recipe</title>
</head>
<body class="recipe">
<div class="container">
    <div th:insert="base :: navbar"></div>
    <br>
    <br>
    <h2>What You Need:</h2>
        <ul>
            <li>1 tablespoon white glue</li>
            <li>1/2 teaspoon Borax</li>
            <li>1 tablespoon cornstarch</li>
            <li>2 tablespoons warm water</li>
            <li>2 plastic cups</li>
            <li>2 wooden craft sticks</li>
            <li>Food coloring</li>
        </ul>
    <br>
    <h2>What You Do:</h2>
    <ol>
        <li>Pour the glue into one of the plastic cups. Add a few drops of food coloring to the glue and mix with one of the craft sticks until your desired color is achieved.</li>
        <li>In the second cup, combine the water and borax together and mix with the second craft stick. Stir until dissolved.</li>
        <li>Add the cornstarch and 1/2 teaspoon of the borax solution to the glue and let stand for 15 seconds.</li>
        <li>Stir with a craft stick until fully mixed together and the mixture becomes very difficult to stir.</li>
        <li>Mold the ball in your hands. It will be sticky at first but will become more solid as you roll it in your hands.</li>
        <li>You now have a bouncy ball. Try bouncing it. How high does it go? Store your ball in an airtight container or Ziploc bag so it doesn’t dry out and crumble.</li>
    </ol>
    <br>
    <h2>What Happened:</h2>
    <p>The white glue contains polyvinyl acetate, a strong and flexible polymer that gives the ball strength. Cornstarch contains amylopectin, a polymer whose shape is best described as ‘branched’ – it sticks out like the branches of a tree – and gives the ball the property of elasticity. Elasticity allows the ball to return to its original shape after being compressed or stretched, such as hitting the floor. So instead of splattering everywhere, the ball bounces back up. The borax is needed to help the glue and the starch stick together. This connects the two polymers into a netlike formation, keeping the ball from crumbling or becoming slime when it is bounced.</p>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>